:root{
    --bg-color: whitesmoke;
    --dark-bg-color: rgb(215, 215, 215);
}

body{
    background-color: var(--bg-color);
}

#rmID{
    display: none;
}

#msgBox{
    overflow-y: auto;
    height: 50%;
    width: 95%;
    margin: auto;

    border-radius: 5px;
    background-color: var(--dark-bg-color);
}