:root{
    --bg-color: rgb(228, 228, 228);
    --dark-bg-color: rgb(202, 202, 202);
    --primary-color: #cd1406;
    --dark-primary-color: #9b0a00;
}

main{
    background-color: var(--bg-color);
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

body, html{
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

#rmID{
    display: none;
}

#msgSend, #msg{
    height: 10%;
    width: 100%;
}

#msgBox{
    text-align: left;
    overflow-y: scroll;
    width: 100%;
    height: 50vw;
    max-height: 320px;
    margin: auto;

    border-radius: 5px;
    border: 1px solid var(--dark-primary-color);
    background-color: var(--dark-bg-color);
}

#room{
    width: 70%;
    height: fit-content;
    margin: auto;
}

.inline{
    display: inline;
}

.time{
    font-size: 8px;
    margin-left: 2px;
}

.name{
    font-size: large;
}

.message{
    font-size: 12px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
}

footer{
    text-align: center;
}

.form-group:not(:last-child) {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
}

.form-control {
    display: block;
}

.form-footer button {
    display: block;
    width: 100%;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    background-color: darkgray;
}

.form-footer {
    margin-top: 2em;
}

.login-block {
    background-color: white;
    padding: 2em;
    border-radius: 0.5em;
}

.form-register-reference {
    margin-top: 0.25em;
}