:root{
    --bg-color: rgb(228, 228, 228);
    --dark-bg-color: rgb(202, 202, 202);
    --primary-color: #cd1406;
    --dark-primary-color: #9b0a00;
    --text-color: rgb(73, 73, 73);
    --text-color-hover: black;
    --text-contrast-color: white;
}

main{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

body, html{
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

#rmID{
    display: none;
}

#msgSend, #msg{
    height: 10%;
    width: 100%;
}

#msgBox{
    text-align: left;
    overflow-y: scroll;
    width: 100%;
    height: 50vw;
    max-height: 320px;
    margin: auto;

    border-radius: 5px;
    border: 1px solid var(--dark-primary-color);
    background-color: var(--dark-bg-color);
}

#room{
    width: 70%;
    height: fit-content;
    margin: auto;
    padding-top: 10px;
}

.inline{
    display: inline;
}

.time{
    font-size: 8px;
    margin-left: 2px;
}

.name{
    font-size: large;
}

.message{
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
}

footer{
    text-align: center;
}

.form-group:not(:last-child) {
    margin-bottom: 1em;
}

.form-control, .form-group label  {
    display: block;
}

.form-footer button {
    display: block;
    width: 100%;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    background-color: var(--dark-bg-color);
}

.form-footer {
    margin-top: 2em;
}

.login-block {
    background-color: var(--bg-color);
    padding: 2em;
    border-radius: 0.5em;
}

.form-register-reference {
    margin-top: 0.25em;
}

.logo span {
    display: block;
    font-size: 1rem;
    font-weight: 300;
}


header {
    display: flex;
    padding: 1em;
}

.intro {
    color: var(--text-contrast-color);
    background: url(../img/back-bay.jpg) no-repeat center center fixed;
    padding: 2em;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px var(--text-color);
    background-size: cover;
}

.logo a {
    text-decoration: none;
}

main {
    flex-grow: 1;
    padding: 0px;
}

.navbar{
    width: 100%;
}

.btn:hover{
    color: var(--text-color-hover);
}

.btn{
    color: var(--text-color);
}

hr{
    width: 100%;
    height: 3px;
    color: var(--text-color);
    margin: 0px;
}

.made-by {
    text-align: center;
}

.made-by-page {
    background-color: rgb(139, 196, 247);
}

.hidden{
    display: none;
}